<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Journalist:</strong>
  <%= @photo.journalist_id %>
</p>

<p>
  <strong>Photoable:</strong>
  <%= @photo.photoable_id %>
</p>

<p>
  <strong>Photoable type:</strong>
  <%= @photo.photoable_type %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
